/* IMAGES */
.notion-image,
.notion-image img,
.notion-collection-card__cover img{
    border-radius: 4px !important;
}

/*.notion-image,*/
/*.notion-image img {*/
/*transition: all .2s ease !important;*/
/*box-shadow: none !important;*/
/*opacity: 0.9 !important;*/
/*}*/

/* ------------------------------------------ */
.notion-header__cover.no-cover{
  display: none;
}

/*@media only screen and (max-width:42.5em) { */
/*.notion-image,*/
/*.notion-image img {*/
/*  margin-bottom: -16px;*/
/*}*/
/*}*/

#block-3b78afa02e4e4471b27dab341c274ecc .notion-image,
#block-3b78afa02e4e4471b27dab341c274ecc .notion-image img{
  transition: all .2s ease !important;
  box-shadow: none !important;
  opacity: 1 !important;
  margin-bottom: 2rem;
}

#block-3b78afa02e4e4471b27dab341c274ecc .notion-image:hover,
#block-3b78afa02e4e4471b27dab341c274ecc .notion-image img:hover {
    transform: scale(1) !important;
}

.notion-header__title-wrapper, 
notion-header__icon-wrapper .has-icon-image,
.notion-header__title{
    display: none !important;
}

.notion-callout .notion-divider{
  border-bottom: 1px solid lightgray;
  max-width: 200px;
  margin-top: 32px;
  margin-bottom: 16px;
}





.notion-quote.bg-yellow>.notion-semantic-string, .notion-quote.bg-gray>.notion-semantic-string{
  display: none;
}



.notion-header__icon-wrapper{
  display: none !important;
}

@media only screen and (max-width: 1059px){
  #block-81c0ad6854c6427d9f84a5098f7c23c7 .notion-column{
      width: 100%!important;
      margin-inline-start: initial !important;
  }
}

.highlighted-background.bg-blue{
  color: white;
  background: #019eda;
}

.notion-semantic-string .link{
  border-bottom-color: var(--color-text-blue);
}

.notion-semantic-string .link, .link{
  color: var(--color-text-blue) !important;
}

html, body {
    scroll-behavior: smooth;
}

body .uwy.userway_p5 .uai{
  bottom: 16px !important;
  left: 16px !important;
}

.notion-text.bg-gray{
    margin-bottom: initial;
    background: initial;
    font-size: 1.3rem;
}

.notion-text__content{
  padding: 0px;
}




.notion-text.bg-blue {
    background-color: initial;
}

.notion-text.bg-blue .notion-link {
    padding: 8px 12px;
    border: 1px solid var(--color-text-blue);
    border-radius: 4px;
    margin-top: 4px !important;
    display: inline-block;
}

.notion-text.bg-blue .notion-link:hover{
  background-color: #009fdb !important;
  color: white !important;
}

.notion-text.bg-blue .notion-link:hover .color-blue{
  color: white !important;
}

.notion-heading{
  padding: initial;
}


.notion-header__cover.no-cover{
  height: 100px;
}





/*   Code to Migrate Above   */