/* Scrolling Logos */

  .notion-callout.bg-green-light .notion-semantic-string{
    text-align: center;
    display: block;
  }

  .notion-callout.bg-green-light{
    background-color: transparent;
  }

  .notion-callout.bg-green-light .notion-callout__icon{
    display: none;
  }

/*     Hide Widget Embed Logo    */

  .notion-callout.bg-green-light .notion-embed{
    height: 140px;
  }

  @media only screen and (max-width:1023px) {
    
    .notion-callout.bg-green-light .notion-embed {
      height: 60px;
    }
    
  }

/* Promo Banner - Homepage Only Fix */
.promo-banner{display: none;}

/*     -------------------------MY SITE ONLY ABOVE-----------------------------    */