@import url("progress-bar.css");

/* Menu Items */
.super-navbar__item-list li{
  border-radius: 4px;
  opacity: 1;
}

/* Menu Item Hover */
.super-navbar__item-list li:hover{
  background-color: var(--color-bg-gray);
}

/* Menu Dropdown Affordance */
@media (min-width:860px){
	.super-navbar__list:after{
		content: "⇣";
	}
}

/* Hide Brown Toggles */
.notion-toggle.bg-brown, .notion-callout.bg-brown-light {
  display: none !important;
}

/* Hide Page Icons */
.notion-header__title-wrapper{
  margin-top: 0px !important;
}

.notion-header__title-wrapper .notion-header__icon-wrapper{
  display: none !important;
}

/* Remove Header*/
.notion-header, .notion-header__title-wrapper{
 display: none; 
}

.super-content-wrapper{
  margin-top: 48px;
}

h1, h2, h3{
  line-height: 1.45;
  font-weight: normal !important;
}

.notion-text__content .notion-semantic-string{
  line-height: 1.7;
}

@media only screen and (max-width: 1023px) {
  #scrolltotop_parent {
    bottom: 16px !important;
    right: 16px !important;
  }
}

/* Scroll to Top */
#scrolltotop_parent {
  background: var(--color-gray);
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1004 !important;
  border-radius: 100px;
}

#scrolltotop_parent:hover {
  opacity: 0.9;
  transition: 0.1s;
}

.scrolltotop_circle {
  border-radius: 50%;
}

.scrolltotop_round_corners {
  border-radius: 5px;
}

.scrolltotop_fadeout {
  opacity: 0 !important;
  transition: 0.5s;
  visibility: hidden;
}

.scrolltotop_fadein {
  opacity: .4;
  transition: 0.5s;
}

#scrolltotop_arrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid white;
  margin: 17px auto 0px;
  border-radius: 2px;
}


/* --------- LAYOUT & TOC ---------  */

/* TOC */
.notion-toggle.bg-orange .notion-toggle__summary .notion-semantic-string::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f03a";
  }

.notion-toggle.bg-orange .notion-toggle__summary .notion-semantic-string span{
  display: none;
}
.notion-toggle.open.bg-orange .notion-toggle__summary .notion-semantic-string::after{
  content: "On This Page";
  margin-left: 16px;
}

.notion-toggle__trigger{
  display: none;
}

.notion-header__title-wrapper{
  display: none;
}

h1.notion-heading.bg-gray{
  font-weight: 700;
  padding: 2px;
  margin-bottom: 16px;
  margin-top: 0px;
  font-size: var(--title-size);
  line-height: var(--title-size);
  min-height: 48px;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: var(--header-title-align);
  display: var(--header-display);
  background-color: transparent;
}

.notion-table-of-contents.bg-gray{
  background-color: transparent;
}

.notion-table-of-contents li:first-child{
  display: none;
}

.notion-table-of-contents.bg-gray::before{
  content: "On This Page";
  color: darkgrey;
  display: block;
  margin-bottom: 8px;
  margin-left: 8px;
}

.notion-table-of-contents.bg-gray .notion-table-of-contents__item{
  border-radius: 4px;
}

.notion-table-of-contents.bg-gray .notion-table-of-contents__item > a > div{
  padding: 8px;
}

.notion-table-of-contents.bg-gray .notion-table-of-contents__item:hover{
  background-color: #f0f0f0;
}

.notion-table-of-contents.bg-gray .notion-table-of-contents__item .notion-semantic-string:not(.no-border){
  background-image: none;
}
.notion-table-of-contents.bg-gray .notion-table-of-contents__item>a{
  color: #767676;
}
.notion-table-of-contents.bg-gray .notion-table-of-contents__item>a:hover{
/*text-decoration: underline;*/
/*text-decoration-color: lightgrey;*/
  color: #37352f;
}
@media (min-width:769px){
  .notion-toggle.bg-orange{
    display: none !important;
  }
  

:root {
    --color-primary: #1ca0f1 !important;
    --cta-color-bg: #e4f5fe !important;
    --cta-padding: 12px 22px !important;
    --cta-border-radius: 50px !important;
    --cta-color-text: #424b55 !important;
    --color-text-default: #424b55;
    --callout-border-radius: 20px !important;
    --inline-code-bg-color: rgba(28, 160, 241, 0.1) !important;
    --content-width: 1500px !important;
    /**/
    --color-code-block: #fafafa !important;
    --color-text-light: white !important;
    --column-spacing: 15px !important;
    --collection-card-cover-size-small: 180px !important;
    --collection-card-cover-size-medium: 260px !important;
    --collection-card-cover-size-large: calc(50% - 15px) !important;
    --transition: all .17s ease-in-out !important;
    /* --color-bg-gray-light: #f5f5f5!important; */
    --color-bg-gray: #f5f4f2 !important;
    --color-ui-hover-bg: rgba(150, 150, 150, .1) !important;
    --color-ui-hover-bg-light: #e7f5fd !important;
    --color-border-default: #F1F5F7;
    --color-accent-bg: var(--color-primary);
    --color-card-bg: rgba(150, 150, 150, .1) !important;
}

.parent-page__portfolio-projects .super-content{
  padding-right: 0px;
}

.parent-page__portfolio-projects .notion-column-list:first-child {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.parent-page__portfolio-projects .parent-page__portfolio-projects .notion-root>.notion-column-list>.notion-column:nth-child(1) {
    padding-top: 30px !important;
    padding-bottom: 100px !important;
    height: 100% !important;
    width: 100% !important;
    /*padding-left: 60px !important;
    padding-right: 60px !important;
    max-width: 750px !important;*/
    min-width: 500px !important;
    margin: 0 auto !important;
    z-index: 10 !important;
    max-width: var(--layout-max-width);
}


.parent-page__portfolio-projects .notion-root>.notion-column-list>.notion-column:nth-child(2) {
    margin-left: 0 !important;
    min-width: 240px !important;
    height: calc(100vh - 70px) !important;
    flex-shrink: 0 !important;
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 70px !important;
    /* position: fixed; */
    padding: 30px !important;
    padding-top: 25px !important;
    /*border-left: 1px solid var(--color-border-default) !important;*/
    z-index: 10 !important;
    background: transparent !important;
    overflow: auto !important;
    max-width: 400px !important;
}
}

@media (max-width:769px){
  .notion-table-of-contents.bg-gray{
    display: none;
  }
}

#scrolltotop_arrow:focus {
  opacity: 0.7;
  transition: 0.1s;
}

@media only screen and (max-width:769px){
  .notion-column {
    width: 100%!important;
    -webkit-margin-start: 0!important;
    margin-inline-start: 0!important;
  } 
}


/* HOMEPAGE */

/*     Hide Project Icon & Quote Title    */
.notion-quote.bg-yellow>.notion-semantic-string, .notion-quote.bg-gray>.notion-semantic-string, .notion-property__title__icon-wrapper{
  display: none !important;
}


/*     List Formatting    */
.notion-quote.bg-yellow .notion-collection-gallery, .notion-quote.bg-gray .notion-collection-gallery{
  display: block;
}

.notion-collection-card{
  margin-bottom: 24px;
}

/*     Remove Border and Background    */
.notion-collection-gallery{
  padding: 0px;
}

.notion-quote.bg-yellow, .notion-quote.bg-gray {
  background: transparent;
  border-left: none;
  padding: initial;
  margin: 0px;
}

/*     Case Formatting    */
.notion-collection-card img{
  border-radius: 8px;
}

.notion-collection-card{
  width: 100%;
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 7, .06) !important;
  padding: 24px !important;
  background: white;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 8px !important;
}

.notion-quote.bg-yellow .notion-collection-card, .notion-quote.bg-gray .notion-collection-card{
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
  }
