

/* Hide Page Icons */
.notion-header__title-wrapper{
  margin-top: 0px !important;
}

.notion-header__title-wrapper .notion-header__icon-wrapper{
  display: none !important;
}

/* Remove Header*/
.notion-header, .notion-header__title-wrapper{
 display: none; 
}

.super-content-wrapper{
  margin-top: 48px;
}

h1, h2, h3{
  line-height: 1.45;
  font-weight: normal !important;
}

.notion-text__content .notion-semantic-string{
  line-height: 1.7;
}




/* --------- LAYOUT & TOC ---------  */



  

:root {
    --color-primary: #1ca0f1 !important;
    --cta-color-bg: #e4f5fe !important;
    --cta-padding: 12px 22px !important;
    --cta-border-radius: 50px !important;
    --cta-color-text: #424b55 !important;
    --color-text-default: #424b55;
    --callout-border-radius: 20px !important;
    --inline-code-bg-color: rgba(28, 160, 241, 0.1) !important;
    --content-width: 1500px !important;
    /**/
    --color-code-block: #fafafa !important;
    --color-text-light: white !important;
    --column-spacing: 15px !important;
    --collection-card-cover-size-small: 180px !important;
    --collection-card-cover-size-medium: 260px !important;
    --collection-card-cover-size-large: calc(50% - 15px) !important;
    --transition: all .17s ease-in-out !important;
    /* --color-bg-gray-light: #f5f5f5!important; */
    --color-bg-gray: #f5f4f2 !important;
    --color-ui-hover-bg: rgba(150, 150, 150, .1) !important;
    --color-ui-hover-bg-light: #e7f5fd !important;
    --color-border-default: #F1F5F7;
    --color-accent-bg: var(--color-primary);
    --color-card-bg: rgba(150, 150, 150, .1) !important;
}

.parent-page__portfolio-projects .super-content{
  padding-right: 0px;
}

.parent-page__portfolio-projects .notion-column-list:first-child {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.parent-page__portfolio-projects .parent-page__portfolio-projects .notion-root>.notion-column-list>.notion-column:nth-child(1) {
    padding-top: 30px !important;
    padding-bottom: 100px !important;
    height: 100% !important;
    width: 100% !important;
    /*padding-left: 60px !important;
    padding-right: 60px !important;
    max-width: 750px !important;*/
    min-width: 500px !important;
    margin: 0 auto !important;
    z-index: 10 !important;
    max-width: var(--layout-max-width);
}


.parent-page__portfolio-projects .notion-root>.notion-column-list>.notion-column:nth-child(2) {
    margin-left: 0 !important;
    min-width: 240px !important;
    height: calc(100vh - 70px) !important;
    flex-shrink: 0 !important;
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 70px !important;
    /* position: fixed; */
    padding: 30px !important;
    padding-top: 25px !important;
    /*border-left: 1px solid var(--color-border-default) !important;*/
    z-index: 10 !important;
    background: transparent !important;
    overflow: auto !important;
    max-width: 400px !important;
}
}

@media (max-width:769px){
  .notion-table-of-contents.bg-gray{
    display: none;
  }
}



@media only screen and (max-width:769px){
  .notion-column {
    width: 100%!important;
    -webkit-margin-start: 0!important;
    margin-inline-start: 0!important;
  } 
}