.promo-banner{
    background: var(--brand-color-primary);
    color: white;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.8px;
    text-decoration: none;
}

.promo-button {
  /*Colors*/
  background: none;
  color: white;
  
  /*Spacing*/
  padding: 0px;
  border-radius: 0px;
  
  /*Others*/
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

/* Promo Banner - Homepage Only Fix */
.promo-banner{display: none;}