@media only screen and (max-width: 1023px) {
  #scrolltotop_parent {
    bottom: 16px !important;
    right: 16px !important;
  }
}

/* Scroll to Top */
#scrolltotop_parent {
  background: var(--color-gray);
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1004 !important;
  border-radius: 100px;
}

#scrolltotop_parent:hover {
  opacity: 0.9;
  transition: 0.1s;
}

.scrolltotop_circle {
  border-radius: 50%;
}

.scrolltotop_round_corners {
  border-radius: 5px;
}

.scrolltotop_fadeout {
  opacity: 0 !important;
  transition: 0.5s;
  visibility: hidden;
}

.scrolltotop_fadein {
  opacity: .4;
  transition: 0.5s;
}

#scrolltotop_arrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid white;
  margin: 17px auto 0px;
  border-radius: 2px;
}


#scrolltotop_arrow:focus {
  opacity: 0.7;
  transition: 0.1s;
}